.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-body {
  background-color: #e6eae9;
  min-height: 95vh;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-self: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Body-item {
  max-width: 47%;
  max-height: 47%;
}

.grid-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  background-color: #e6eae9;
  padding: 10px;
  justify-content: space-evenly;
  min-height: 90%;
}

.grid-container > div {
  /* background-color: rgba(217, 247, 98, 0.8); */
  border: 1px solid black;
  /* text-align: center; */
  font-size: 30px;
  flex-flow: column;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
